*{
  box-sizing: border-box;
}

p{
  margin: 0;
}

/* ******************************************************* */
/* стили для кнопок */

.tab__buttons_wrapper{
  display: flex;  
  /* произвольная ширина контейнера для кнопок */  
  width: 550px;
}

.tab__button + .tab__button{
  margin-left: 25px;
}

.tab__button{
  flex-grow: 1;  
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  padding: 10px 20px;
  color: #555;
  background-color: lightgray;
  border-radius: 5px;
  user-select: none;
}

.tab__button_active{
  background-color: gray;
  color: #fff;
}

/* ******************************************************* */
/* стили для содержимого вкладок */

.tab__content_wrapper{
  margin-top: 10px;
  /* выставляем ширину контента равную ширине контейнера для кнопок*/
  width: 550px;
  height: 180px;
}

.tab__content{
  display: none;
  width: 100%;
  height: 100%;
  font-size: 15px; 
  line-height: 1.5em;
  padding: 10px 20px;
  background-color: lightgreen;
}

.tab__content_active{
  display: block;
}